<!doctype html>
<html ng-app='Agenda'>
	<head>
		<script src="angular.min.js"></script>
		<script src="AgendaController.js"></script>
		<script src="jquery.min.js"></script>

		<link rel="stylesheet" href="bootstrap/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/bootstrap-theme.css">
		<script src="bootstrap/bootstrap.js"></script>

		<style>
			.link {
				border: solid 1px #bbb;
				margin: 5px;
				padding: 5px;
				max-width: 200px;
			}
			.link img {
				max-height: 150px;
			}
		</style>
	</head>
	<body ng-controller='AgendaCtrl'>

		<div class='container'>
		
			<h1>{{tx.title}}</h1>
			
			<div ng-controller='ContactCtrl' ng-show='logged_in'>
				<section>
					<h2>{{tx.titleSaveContact}}</h2>
					<form ng-submit='save()' class='form-horizontal'>
						<label class="control-label">Name</label>
						<div class="control-group">
							<div class="controls">
								<input placeholder='Name' ng-model='contact.name'>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Phone</label>
							<div class="controls">
								<input placeholder='Phone' ng-model='contact.phone'>
							</div>
						</div>
						<div class="control-group">
							<input type='submit' value='{{tx.submit}}' class="btn" >
						</div>
						<span>{{tx.messageSaveContact}}</span>
					</form>
				</section>
				<section>
					<h2>{{tx.titleContacts}}</h2>
					<div ng-repeat='contact in contacts | orderBy:order' class='contacts'>
						<p>{{contact.name}}</p>
						<p>{{contact.phone}}</p>
						<button ng-click='delete(contact.id)'>Delete</button>
					</div>
					<p ng-hide='contacts.length'>No contact</p>
					<p>{{tx.messageContacts}}</p>
				</section>
			</div>
		</div>
	</body>
</html>
