
<form ng-submit='save()' class="form-inline">
	<div class="form-group">
		<input class="form-control" placeholder='Name' ng-model='contact.name'>
	</div>
	<div class="form-group">
		<input class="form-control" placeholder='Phone' ng-model='contact.phone'>
	</div>
	<button type='submit' class="btn" >
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<p class="text-warning bg-danger">{{tx.messageSaveContact}}</p>
</form>

<table class="table container">
	<thead>
		<tr>
			<th></th>
			<th>
				<input class="form-control" placeholder="Name" ng-model='search.name'>
			</th>
			<th>
				<input class="form-control" placeholder="Phone" ng-model='search.phone'>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='contact in contacts | filter:search | orderBy:order'>
			<td></td>
			<td>
				<p ng-hide="contact.updating">{{contact.name}}</p>
				<input ng-show="contact.updating" ng-model="contact.name" value="{{contact.name}}">
			</td>
			<td>
				<p ng-hide="contact.updating">{{contact.phone}}</p>
				<input ng-show="contact.updating" ng-model="contact.phone" value="{{contact.phone}}">
			</td>
			<td>
				<button ng-click='update(contact)' class="btn">
					<span class="glyphicon glyphicon-{{contact.updating ? 'ok' : 'pencil'}}"></span>
				</button>
				<button ng-click='remove(contact)' class="btn">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
		<tr ng-hide='contacts.length'><td>No contact</td></tr>
	</tbody>
</table>
<p>{{tx.messageContacts}}</p>